numpy==1.22.0
pandas==1.4.3
pybind11==2.13.6
pyparsing==3.2.0
requests==2.28.1
scikit-learn==1.6.0
sklearn==0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
torch==2.5.1
torch-dwn @ file:///Users/nicolesuet/tcc/material/DWN
torch-hd==5.7.1
torchaudio==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
torchwnn==1.0.1
ucimlrepo==0.0.7
urllib3==1.26.20
wisardpkg==1.6.3
