numpy
pandas
pybind11
pyparsing
requests
scikit-learn
sklearn
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
torch
torch-dwn
torch-hd
torchaudio
torchmetrics
torchvision
torchwnn
ucimlrepo
urllib3
wisardpkg
