numpy
pandas
pybind11==2.2
pyparsing
requests
scikit-learn
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
torch
torch-dwn
torch-hd
torchaudio
torchmetrics
torchvision
torchwnn
ucimlrepo
urllib3
wisardpkg==1.6.3
